---
import { Button } from "@/components/ui/button";
---

<header class="flex p-4 border-b sticky top-0 z-100 bg-white justify-between">
  <a href="/" class="text-xl">Personagens 🧟‍♀️🧙‍♂️🧜‍♀️</a>
  <a href="/characters/new">
    <Button>Novo personagem</Button>
  </a>
</header>
