---
import BaseLayout from "../layouts/BaseLayout.astro";
import  Form  from "../components/Form";
---

<BaseLayout>
  <div class="flex flex-col gap-8 w-full items-center justify-center">
    <Form/>
  </div>
</BaseLayout>
