---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImagemPersonagem from "../components/characterImage";
---

<BaseLayout>
  <div>
    <ImagemPersonagem
    imageUrl="https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters/large/800/Mabel-Pines.Gravity-Falls.webp"
    />
  </div>
  
</BaseLayout>